table{
    border-width: 0px;
    margin-top: 150px;
    margin-left: 620px;
}
input{
    padding: 5px;
    width: 96%;
    
}
.row{
    color: darkorange;
    background-color: rgb(233, 233, 129);
    padding: 5px;

}
.header{
    background-color: orangered;
    color: azure;
}
#submit{
    background-color: gold;
    color: brown;
    border-color: gold;
    width: 96%;
}
tr{
    margin-left: 5px;
    margin-right: 5px;
    
}